@import '@fontsource/fira-mono';
@import '@fontsource/poppins';

:root {
	--var-color-grey: #1f2228;
	--var-color-blue: #00a6d5;	
	--var-color-white: #ffffff;
	--var-border-radius: 15px;
	--var-std-transition: all 0.2s ease-in-out;

	background-color: var(--var-color-grey);
	color: var(--var-color-white);

	font-family: 'Poppins', sans-serif;
}

/* On hover, links should produce a red underline */
a {
	color: var(--var-color-white);
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: var(--var-color-blue);
	text-decoration-thickness: 1.5px;
}
